<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Personal-API</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS --> <!-- Will need jQuery too -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Cherry+Cream+Soda" rel="stylesheet">

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>

  </head>
  <body>
    <div class="container">
      <h1> Frame Selector </h1>
      <h4><a href="/api">API Documentation</a></h4>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <form class="form-inline" id="newFrameForm">
              <div class="form-group">
                <label for="title">Name</label>
                <input type="text" class="form-control" name="name" placeholder="Frame Name"/>
              </div>
              <div class="form-group">
                <label for="title">Brand</label>
                <input type="text" class="form-control" name="brand" placeholder="Manufacturer"/>
              </div>
              <div class="form-group">
                <label for="title">Material</label>
                <input type="text" class="form-control" name="material" placeholder="Material"/>
              </div>
              <div class="form-group">
                <label for="title">Suspension</label>
                <input type="boolean" class="form-control" name="suspension" placeholder="Suspension"/>
              </div>
              <div class="form-group">
                <label for="title">Travel</label>
                <input type="text" class="form-control" name="travel" placeholder="Rear Travel" />
              </div>
              <div class="form-group">
                <label for="title">Year</label>
                <input type="text" class="form-control" name="year" placeholder="Year Released"/>
              </div>
              <div class="form-group">
                <label for="title">Price</label>
                <input type="text" class="form-control" name="price" placeholder="Price" />
              </div>
              <!-- Wonder if i put the image here?  -->
              <button type="submit" class="btn btn-default">Add Frame</button>
            </form>

            <!-- handlebars Template -->
              <div id="content">
                <script id="frame-display-template" type="text/x-handlebars-template">
                {{#each frames}}

            			<img src={{imageURL}}/> <!-- NOTE: should save these images locally and if the user clicks on the pic, maybe display a larger version. WIll need to see how to do that. Maybe MVP is just redirecting to its own page. -->
                  <div class="frame-info">
                    <h2>{{name}}</h2>
                    <h3><small>by: </small>{{brand}}</h3>
                        <button type="button" name="button" class="deleteBtn btn btn-danger pull-right" data-id={{_id}}>Delete</button>
                      <p><strong>Material: </strong>{{material}}</p>
                      <p><strong>Built: </strong>{{year}}</p>
                      <p><strong>Travel: </strong>{{travel}}</p> <!-- this will only appear if suspension is true. As of now, all sample bikes fit this, but may not be the case for any added frames -->
              			<p><strong>Price: </strong>{{price}}</p>
                  </div>
                  <div class="underline"></div>
                {{/each}}
                </script>
              </div>
            </div>


          </div>
        </div>
      </div>

    </body>
  </html>
