body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: skyblue; /* Sanity Check! */
}

h1 {
  margin-top: 100px;
  text-align: center;
}

/*.col-md-8 {
  margin: 10, 10, 10, 10;
}*/

.row {
  text-align: center;
  border: 1px solid white;
}

img {
  margin-left: -15px;
}
