body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: skyblue; /* Sanity Check! */
  background: url(https://scontent.fsnc1-1.fna.fbcdn.net/t31.0-8/14525029_10209391248490502_3430970016575066364_o.jpg);
}

.row {
  border-bottom: 1px solid white;
}

.container h1 {
  margin-top: 100px;
  text-align: center;
}

#content {
  border: 1px solid grey;
  background-color: white;
}

#content img {
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 10px;
  float: left;
  border: 1px solid white;
}

h1 {
  color: white;
  font-weight: 800;
  font-stretch: extra-expanded;
}

h2 {
  text-align: center;
  margin-top: 8px;
  padding-bottom: -10px;
  margin-bottom: -10px;
  font-family: 'Cherry Cream Soda', sans-serif;
  text-shadow:1px 0px 3px gray;
}

a {
  color: white;
  text-align: center;
  font-size: 22px;
}

h3 {
  margin-top: 7px;
  text-align: center;
  text-shadow:1px 0px 3px gray;
}

p {
  margin-top: -10px;
  padding-top: -5px;
  padding-bottom: 5px;
}
img {
  margin-top: 10px;
  height: 150px;
  length: 150px;
}

.deleteBtn {
  margin-right: 10px;
  margin-top: 5px;
}

.search-form {
  border: 1px solid white;
  background-color: #8B8989;
  text-align: center;
  color: white;
  margin-top: 10px;
}

.searchBtn {
  margin-left: 180px;
  background-color: #00CC66;
}

.ratingBtn {
  margin-right: 10px;
  margin-top: -55px;
}

.underline {
  border-bottom: 2px solid grey;
  margin-left: 10px;
  margin-right: 10px;
}
